DIY07-Connolly/target/META-INF/mule-src/mod07/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow name="initialize" doc:id="304b28bc-0558-4593-aebe-004ab8d04b8c" >
		<http:listener doc:name="HTTP: GET /flights" doc:id="6d185fbd-aa8a-4c51-81b3-15b0f97f638a" config-ref="HTTP_Listener_config" path="${http.flights}"/>
		<set-variable value="#[attributes.queryParams.destination]" doc:name="destination" doc:id="69ed4dd8-a3af-48f8-ace3-9905083273c8" variableName="destination"/>
		<set-variable value="#[attributes.headers.'requester-id']" doc:name="requesterID" doc:id="339154ee-9d55-4052-835a-290e30678d0d" variableName="requesterID"/>
		<http:request method="GET" doc:name="Request GET destination" doc:id="bdbf8bc0-ab48-42ec-9a7c-a3690b6b2c70" url='#["${url.getDest}" ++ vars.destination as String]' />
		<set-variable value="#[payload]" doc:name="payload-GET" doc:id="05ff4f5c-30fa-4d71-b422-af82262196d4" variableName="payload-GET"/>
		<async doc:name="Async" doc:id="2ce6b9cb-af54-4950-b7da-1750c15fa67a" >
			<http:request method="POST" doc:name="Request POST /processData" doc:id="076344c8-9c0b-4bd3-b993-4ad46b8aa36e" url="${url.procData}">
			<http:headers><![CDATA[#[output application/java
---
{
	'flight-date-return' : attributes.headers.date,
	'requesterID' : vars.requesterID,
	'destination' : vars.destination
}]]]></http:headers>
		</http:request>
		</async>
		<set-payload value="#[output application/json ---
{
    &quot;payload-GET&quot;: vars.'payload-GET',
	&quot;payload-PROCESS&quot;: payload,
    &quot;destination-process&quot;: vars.destination,
    &quot;requesterID-process&quot;: vars.requesterID
}]" doc:name="final summary" doc:id="68c44115-a04b-420b-8fe9-aa83f6d5c305" />
	</flow>
	<flow name="mockData" doc:id="578be7bc-ce05-493e-9385-ef388dbcc6b8" >
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="04d63d0a-288d-48ba-b471-c112eb6befe5" />

	</flow>
	<flow name="processData" doc:id="c7379ac2-5182-4bd2-8475-cd7c520f8319" >
		<http:listener doc:name="Listener" doc:id="077bd758-3a16-40f3-8d7f-1a165da49c26" config-ref="HTTP_Listener_config" path="${http.processData}" allowedMethods="POST"/>
		<ee:transform doc:name="summary payload" doc:id="2ea0ec2d-22c7-48d1-94aa-529b34372457" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	payload: payload as Array map ((object) ->
		{
			planeType: object.planeType,
			flightDate: object.takeOffDate,
			price: object.price
		}
	),
	'flight-date-return': attributes.headers.'flight-date-return',
    destination: attributes.headers.destination,
    requesterID: attributes.headers.requesterid
}
]]></ee:set-payload>
			</ee:message>
			<ee:variables >
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="process data summary" doc:id="a14ca1a7-43ef-4479-b0d1-56d15a01c3a0" message="#[payload]"/>
	</flow>
</mule>
