apdev-examples/src/main/mule/apdev-examples.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:vm="http://www.mulesoft.org/schema/mule/vm" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/vm http://www.mulesoft.org/schema/mule/vm/current/mule-vm.xsd">
	
	<flow name="helloFlow" doc:id="0910889e-eb72-4d2b-8c14-afcbe31d7bf7" >
		<http:listener doc:name="GET /hello" doc:id="9de5f234-af94-49f1-b52b-5e60d47611ad" config-ref="HTTP_Listener_config" path="/hello" allowedMethods="GET">
			<http:response >
				<http:headers ><![CDATA[#[output application/java
---
{
	"name" : vars.firstName
}]]]></http:headers>
			</http:response>
		</http:listener>
		<flow-ref doc:name="subflow" doc:id="14801831-95fb-4aa2-a816-9498a866b75c" name="subflow"/>
		<vm:publish queueName="goodbye" doc:name="Publish" doc:id="ab07473d-3dad-4ed4-bee9-985c5dc563c4" config-ref="VM_Config">
		</vm:publish>
		<logger level="INFO" doc:name="Logger" doc:id="27bde3ca-bf09-4716-ba4e-fa2e83eeb551" message="#['\nMessage: ' ++ payload]"/>
	</flow>
	<flow name="privateFlow" doc:id="07adbe35-4c75-4e4f-a5e2-9649b7d2d415">
		<http:request method="GET" doc:name="GET /goodbye" doc:id="d3857eb0-9b42-45e7-89fd-6fe9e6a93fdd" config-ref="HTTP_Request_configuration" path="/goodbye">
			<http:query-params><![CDATA[#[output application/java
---
{
	"fullName" : message.attributes.queryParams.fname
}]]]>
			</http:query-params>
		</http:request>
	</flow>
	<sub-flow name="subflow" doc:id="6de2b100-d2b7-4a3a-a7e6-0207709f9b0a" >
		<set-variable value="#[message.attributes.queryParams.fname]" doc:name="Set Variable" doc:id="de6bc812-328d-4d6f-b2f6-81e6f68f5359" variableName="firstName" />
		<set-payload value="Hello" doc:name="Hello" doc:id="a5d34960-70a6-4e67-825f-65b906b04620" />
	</sub-flow>
	<flow name="goodbyeFlow" doc:id="8e1fe3e7-ea90-4b28-90d2-a92168342254" >
		<vm:listener queueName="goodbye" doc:name="VM goodbye" doc:id="0f510162-41f3-412b-8380-b12fceca2727" config-ref="VM_Config"/>
		<set-payload value="#[upper('Goodbye') ++ ' ' ++ (attributes.queryParams.fullName default 'Maxine')]" doc:name="Goodbye" doc:id="0589fd91-23d7-4960-9f44-4f083980884c" />
		<logger level="INFO" doc:name="fullName" doc:id="b4480fdf-8558-440b-8978-f3c3166de266" message="#[attributes.queryParams.fullName]"/>
	</flow>
</mule>
