connectors-mod12-various-systems-starter/target/META-INF/mule-src/connectors-mod12/src/main/mule/foodnsavings.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:jms="http://www.mulesoft.org/schema/mule/jms" xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/jms http://www.mulesoft.org/schema/mule/jms/current/mule-jms.xsd">
	<flow name="foodnsavingsFlow" doc:id="f8c09361-7cfd-4131-83fc-f922ae02c7d4" >
		<jms:listener doc:name="Listener" doc:id="7d2e50d0-acf3-4bf8-9606-7aabef3865cf" config-ref="JMS_Config" destination="foodNSavings"/>
		<db:bulk-insert doc:name="Bulk insert" doc:id="e2b30f96-9352-4202-a59a-7dba7d639445" config-ref="Partner1_Database_Configuration">
			<db:sql >INSERT INTO Giftcards (number, sourceID, balance, createdOn) VALUES
(:number, :sourceID, :balance, :createdOn)</db:sql>
		</db:bulk-insert>
		<set-variable value="SUCCESS" doc:name="Set Success" doc:id="ff7454e6-4729-48d8-824d-8b5b14f144fc" variableName="statusMessage"/>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="db2931a7-b0ae-4c09-ab0d-39c29e20074f" type="ANY" >
				<set-variable value="#['ERROR OCCURRED WHILE PROCESSING:' ++ error.description]" doc:name="Set error status" doc:id="3c89127a-cda5-4bfe-8d9e-2866d55a7066" variableName="statusMessage" />
			</on-error-continue>
		</error-handler>
	</flow>
</mule>
